<ion-view view-title="我的采购计划" >
  <ion-content class="padding">
  	<button class="button  button-full">
  	<i class="icon ion-plus-circled assertive"></i>
  	添加采购模板
  	</button>
	<div class="center"><span class="balanced">提示：点击右侧生成订单采购码</span></div>
  	<div class="padding">
		<ul class="list">
			<li class="item item-checkbox item-button-right checkbox-assertive">
				<label class="checkbox">
					<input type="checkbox" checked>
				</label>
				<h2>模板1</h2>
				<button class="button button-large">生成</button>
			</li>
			<li class="item item-checkbox  item-button-right checkbox-assertive">
				<label class="checkbox">
					<input type="checkbox">
				</label>
				<h2>模板2</h2>
				<button class="button button-large">生成</button>   	
			</li>
		</div>
		<button class="button button-block button-assertive">立即购买</button>
	</div>
  </ion-content>
</ion-view>
