<ion-view view-title="我">
<ion-content >
<div id="myMain" style="height: 46vh;padding:1px;">
	<div class="row center" id="myButton">
		<a class="col" href="#/tab/my/recharge">
			<span style="font-size:15px">
				<span >充值</span>
			</span>
		</a>
		<a class="col" href="#/tab/my/message">
			<span style="font-size:15px">
				<span >消息</span>
			</span>
		</a>
	</div>
	<div id="myPerson">		
	</div>
	<div class="light center" id="myPersonName">
		<span>小   红</span>
		<div id="myRank">
		</div>
		<div class="center">
			<div id="myStar" style="background:url(img/myStar5.png) no-repeat;background-size: 100%"></div>
		</div>
	</div>
	<div class="row light center" id="myNum">
		<div class="col">
			<span style="font-size:15px">
				余额：<span >￥10.21</span>
			</span>
		</div>
		<div class="col">
			<span style="font-size:15px">
				订单量：<span >1234单</span>
			</label>
		</div>
	</div>
</div>

<div class="list" id="myList">
	<a class="item item-icon-left item-icon-right" href="#/tab/my/purchase">
		<i class="icon ion-ios-cart calm"></i>
		<h2 class="center" style="font-weight: bold;">我的供应商</h2>
		<i class="icon ion-ios-arrow-right" style="color: #C5C4C8"></i>
	</a>
	<a class="item item-icon-left item-icon-right" href="#">
		<i class="icon ion-ios-telephone balanced"></i>
		<h2 class="center" style="font-weight: bold;">联系客服</h2>
		<i class="icon ion-ios-arrow-right" style="color: #C5C4C8"></i>
	</a>
	<a class="item item-icon-left item-icon-right" href="#">
		<i class="icon ion-edit dark"></i>
		<h2 class="center" style="font-weight: bold;">意见反馈</h2>
		<i class="icon ion-ios-arrow-right" style="color: #C5C4C8"></i>
	</a>
	<a class="item item-icon-left item-icon-right" href="#">
		<i class="icon ion-person-stalker positive"></i>
		<h2 class="center" style="font-weight: bold;">关于我们</h2>
		<i class="icon ion-ios-arrow-right" style="color: #C5C4C8"></i>
	</a>
</div>
</ion-content>
</ion-view>