<ion-view view-title="我的充值">
<ion-content class="padding">
<div class="button-bar" id="mainPurchaseDiv">
	<button class="button" ng-click="ChangeShow(0)" style="border: 1px solid #ddd;">在线充值</button>
	<button class="button" ng-click="ChangeShow(1)" style="border: 1px solid #ddd;">充值记录</button>
</div>
<div class="list" style="margin-top: 10px;">
	<div>
		<label class="item item-input item-select">
			<div class="input-label">
				<i class="icon ion-social-yen" style="margin-right: 3px"></i>选择金额
			</div>
			<select>
				<option selected>100元</option>
				<option>300元</option>
				<option>500元</option>
				<option>1000元</option>
			</select>
		</label>
	</div>
	<label class="item">
		<span>其他金额：</span>
		<input type="text" style="width: 100px;display: inline-block;border: 1px solid #ddd;padding-left: 5px;border-radius: 5px;" />
		<span>元</span>
	</label>
</div>
<div class="list">
	<div class="item item-divider"><b>请选择支付方式</b></div>
	<ion-radio name="group2" >支付宝支付</ion-radio>
	<ion-radio name="group2" >微信支付</ion-radio>
	<ion-radio name="group2"  >银联支付</ion-radio>
</div>
<button class="button button-block button-assertive">立即充值</button>
</ion-content>
</ion-view>