<ion-view view-title="我的消息">
<ion-content>
<div ng-show="ShowMessage == 0">
<div class="list">
    <a class="item item-icon-left">
      <i class="icon ion-email-unread"></i>
      <h2>Venkman</h2>
      <p>我们周末去爬山吧！</p>
    </a>
    <a class="item item-icon-left">
      <i class="icon ion-email-unread"></i>
      <h2>Venkman</h2>
      <p>我们周末去爬山吧！</p>
    </a>
    <a class="item item-icon-left">
      <i class="icon ion-ios-email-outline"></i>
      <h2>Venkman</h2>
      <p>我们周末去爬山吧！</p>
    </a>
  </div>
</div>
</ion-content>
</ion-view>