<ion-view view-title="分享">
<ion-content class="padding">
	<div style="border: 1px solid #ddd;border-radius: 10px 10px 0  0;">
		<div style="margin: 10px auto;width: 220px;">
			<img src="img/twoDimensionCode.png">
		</div>
		<p class="center" style="color: grey">分享二维码</p>
		<p class="center" style="color: grey">直接下载鲜活优商</p>
	</div>
	<div class="padding" style="background-color: #ddd">
		<p style="color: red;margin:0" class="center"><i class="icon ion-arrow-down-a"></i>分享一起赚钱<i class="icon ion-arrow-down-a"></i></p>
	</div>
	<div style="border: 1px solid #ddd;border-radius:0 0 10px 10px;">
		<div class="row">
			<button class="col col33"  id="shareDiv">
				<div style="background:url(img/share.png) no-repeat  -27px -13px;"></div>
				<p class="center" style="color: grey">朋友圈</p>
			</button>
			<button class="col col33"  id="shareDiv">
				<div style="background:url(img/share.png) no-repeat -160px -14px;"></div>
				<p class="center" style="color: grey">微信</p>
			</button>
			<button class="col col33"  id="shareDiv">
				<div style="background:url(img/share.png) no-repeat -296px -14px;"></div>
				<p class="center" style="color: grey">微博</p>
			</button>
		</div>
		<div class="row">
			<button class="col col33"  id="shareDiv">
				<div style="background:url(img/share.png) no-repeat -27px  -142px;"></div>
				<p class="center" style="color: grey">短信</p>
			</button>
			<button class="col col33"  id="shareDiv">
				<div style="background:url(img/share.png) no-repeat -160px  -142px;"></div>
				<p class="center" style="color: grey">QQ空间</p>
			</button>
			<button class="col col33"  id="shareDiv">
				<div style="background:url(img/share.png) no-repeat -296px  -142px;"></div>
				<p class="center" style="color: grey">QQ</p>
			</button>
		</div>
	</div>
</ion-content>
</ion-view>