<ion-view view-title="我的采购计划" >
<ion-content class="padding">
<a class="button  button-full" href="#/tab/main/plan/new">
	<i class="icon ion-plus-circled assertive"></i>
	添加采购模板
</a>
<div class="center"><span class="balanced">提示：点击按钮生成订单采购码</span></div>
<div class="padding">
	<ul class="list">
		<li class="item item-checkbox  checkbox-dark">
			<label class="checkbox" style="margin-top:-35px;">
				<input type="checkbox">
			</label>
			<p>
				<b style="font: 15px">模板1</b>
				<span style="display: inline-block;margin: 5px;">土豆</span>
				<span style="display: inline-block;margin: 5px;">10000kg</span>
			</p>
			<p class="">
				<span>收货时间：4月11日16:50:01</span>
			</p>
			<p style="text-align: right">
				<a class="button button-small" href="#" style="border: 1px solid #ddd">查看详情</a>
			</p>
		</li>
		<li class="item item-checkbox checkbox-dark">
			<label class="checkbox" style="margin-top:-35px;">
				<input type="checkbox">
			</label>
			<p>	
				<b style="font: 15px">模板2</b>
				<span style="display: inline-block;margin: 5px;">白菜</span>
				<span style="display: inline-block;margin: 5px;">10000kg</span>
			</p>	
			<p>
				<span>收货时间：4月11日16:50:01</span>
			</p>
			<p style="text-align: right">
				<a class="button button-small" href="#" style="border: 1px solid #ddd">查看详情</a>
			</p>
		</li>
	</div>
	<div class="row">
		<div class="col">			
			<button class="button button-block button-assertive">采购</button>
		</div>
		<div class="col">		
			<button class="button button-block button-assertive">一键下单</button>
		</div>
	</div>
</div>
</ion-content>
</ion-view>
