<ion-view view-title="采购模板详情">
<ion-content class="padding">
<label class="item item-input">
	<span class="input-label">模板名称</span>
	<span>模板1</span>
</label>
<label class="item item-input">
	<span class="input-label">到货时间</span>
	<span style="display: inline-block;" class="center">{{startTime}}</span>
	<span style="display: inline-block;width: 30px;" class="center">至</span>
	<span style="display: inline-block;" class="center">{{endTime}}</span>
</label>
<label class="item item-input">
	<span class="input-label">收货地址</span>
	<span>江干区湘云雅苑</span>
</label>
<div class="list">
	<li class="item item-thumbnail-left">
		<img src="img/pic.png" style="width: 70px;height: 70px;">
		<p  style="margin-left: 30px;">
			<span style="font-size: 16px;font-weight: bold;">大白菜</span>
			<button class="button button-assertive button-small" style="margin:-5px 20px;">删除</button>
		</p>
		<p style="margin: 6px 30px;">
			<span >单位：kg</span>
		</p>
		<p style="margin-left: 30px;">
			<span >数量：</span>
			<span style="display: inline-block;">{{num}}</span>
		</p>
	</li>
	<li class="item item-thumbnail-left">
		<img src="img/pic.png" style="width: 70px;height: 70px;">
		<p  style="margin-left: 30px;">
			<span style="font-size: 16px;font-weight: bold;">大白菜</span>
			<button class="button button-assertive button-small" style="margin:-5px 20px;">删除</button>
		</p>
		<p style="margin: 6px 30px;">
			<span >单位：kg</span>
		</p>
		<p style="margin-left: 30px;">
			<span >数量：</span>
			<span style="display: inline-block;">{{num}}</span>
		</p>
	</li>
</div>
</ion-content>
</ion-view>
