<ion-view view-title="新增采购模板">
<ion-content class="padding">
<label class="item item-input">
	<input type="text" placeholder="输入模板名字" />
</label>
<label class="item item-input">
	<button class="button button-small" ng-click="openTimePicker()" style="border: 1px solid #ddd">选择到货时间</button>
	<span style="display: inline-block;width: 100px;" class="center">{{startTime}}</span>
	<span style="display: inline-block;width: 30px;" class="center">至</span>
	<span style="display: inline-block;width: 100px;" class="center">{{endTime}}</span>
</label>
<label class="item item-input">
	<input type="text" placeholder="输入收货地址" />
</label>
<a class="item item-icon-left item-icon-right" href="#/tab/main/plan/new/goodslists">
	<i class="icon ion-plus-circled dark" style="font-size: 24px;"></i>
	<h2>品种</h2>
	<i class="icon ion-ios-arrow-right"  style="font-size: 24px;"></i>
</a>
<li class="item item-checkbox checkbox-dark item-thumbnail-left" style="padding-left:50px;">
	<label class="checkbox">
		<input type="checkbox" >
	</label>
	<img src="img/pic.png" style="width: 70px;height: 70px;">
	<div style="position: absolute;display: inline-block;">
		<p  style="margin-left: 5px;">
			<span style="font-size: 16px;font-weight: bold;">大白菜</span>
			<button class="button button-assertive button-small" style="margin:-5px 20px;">删除</button>
		</p>
		<p style="margin: 6px;">
			<span >单位：kg</span>
		</p>
		<p style="margin-left: 5px;">
			<span >数量：</span>
			<button style="background: white;border:1px solid #ddd;border-radius:5px 0 0 5px" ng-click="subtract()">－</button>
			<span style="border-top:1px solid #ddd;border-bottom:1px solid #ddd;display: inline-block;padding: 1px -1;">{{num}}</span>
			<button style="background: white;border:1px solid #ddd;border-radius:0 5px 5px 0" ng-click="add()">＋</button>
			
		</p>
	</div>
</li>
</ion-content>
<ion-footer-bar class="checkbox-dark">
	<label class="checkbox" >
		<input type="checkbox" >
	</label>
	<b style="font-size: 16px;padding: 10px 0">全选</b>
	<span class="padding">总计：10个品种</span>
	<button class="button button-assertive" style="position: absolute;right: 10px">生成采购计划</button>
</ion-footer-bar>
</ion-view>
