<ion-view view-title="订单详情" >
<ion-content>
<div class="list">
	<div ng-repeat="good in Goods" class="padding">	
		<li class="item item-thumbnail-left" >
			<img ng-src="{{good.face}}">
			<p><span style="font-size: 18px;margin-left: 15px;" class="balanced">{{good.name}}</span></p>
			<p  style="font-size: 11px;margin-left: 25px;"><span>采购量：<span class="assertive">{{good.amount}}</span>千克</span></p>
			<p  style="font-size: 11px;margin-left: 25px;">采购价：<span class="assertive">{{good.price}}</span>元/千克</p>
			<p  style="font-size: 11px;margin-left: 25px;">单品合计价格：<span class="assertive">{{good.num}}</span>元</p>
		</li>
		<div class="item" style="color: grey;font-size: 13px;">
			备注：{{good.remark}}
		</div>
	</div>	
	<div style="position: relative;" class="padding">
		<div style="border-bottom: 1px solid #ddd;padding:0 10px;">
			<div id="myPerson" style="display: inline-block;width: 40px;height: 40px;"></div>
			<div style="display: inline-block;position: absolute;top:5px">
				<p style="margin: 5px 0 0 5px;">小红</p>
				<p style="font-size: 8px;margin-left:5px;">发货地址：{{order.location}}</p>
			</div>		
			<span class="assertive" style="position: absolute;right: 10px;height: 47px;line-height: 47px">已发货
				<a class="button button-icon icon  ion-ios-telephone balanced"></a>
			</span>
		</div>	
		
		<div style="position: relative;margin: 15px 0;padding-left: 27px;">
			<i class="icon ion-person"></i>
			<span class="margin">收货人：{{order.recipienter}}</span>			
			<span class="margin">电话：{{order.phone}}</span>
		</div>
		<div style="position: relative;margin: 15px 0;padding-left: 28px;">
			<i class="icon ion-ios-location"></i>
			<span class="margin"  style="font-size: 8px">收货地址：{{order.location}}</span>
		</div>
		<div style="position: relative;margin: 15px 0;padding-left: 27px;">
			<i class="icon ion-social-yen"></i>
			<span class="margin">总金额：<span class="assertive">{{order.money}}</span>元</span>
		</div>
		<div style="position: relative;margin: 15px 0;padding-left: 27px;">
			<i class="icon ion-gear-a"></i>
			<span class="margin">模板名：<span class="assertive">{{order.planName}}</span></span>
		</div>
		<button class="button button-assertive button-block" style="margin: 0;line-height:32px;min-height: 32px" ng-show="order.orderState == 0">取消此订单</button>
		<button class="button button-assertive button-block" style="margin: 0;line-height:32px;min-height: 32px" ng-show="order.orderState == 1">确认收货</button>
		<button class="button button-assertive button-block" style="margin: 0;line-height:32px;min-height: 32px" ng-show="order.orderState == 2">评价</button>
	</div>
</div>
</ion-content>
</ion-view>
