/* Empty. Add your own CSS if you like */
*{
	font-family: "MicrosoftYaHei"!important;
}
a{
	text-decoration:none;
}
.margin{
	margin: 10px
}

.main{
	background: url(../img/bg.png) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;background-size: cover;
}
.bar .title {
	font-size: 20px;
}
.padding {
	padding: 10px 5px;
}
#mainNews,#mainSearch,#mainBottom{
	background-color:rgba(68, 68, 68,0.65);text-shadow:1px 2px 0 #444;
}
#mainSearch,#mainBottom{
	border-radius: 5px;
}
#mianButton{
	width: 100%;
}
#mainMiddle > a{
	background-color:rgba(68, 68, 68,0.5);text-shadow:1px 2px 0 #444;width: 100%;margin:2px;
}
.button-oversized{
	font-size: 40px;
}
#mainBottom > ul > li{	
	background-color:rgba(68, 68, 68,0);
}
.center{
	text-align: center;
}

#myMain{
	background: url(../img/myMainBg.jpeg) no-repeat ; -webkit-background-size: cover;-moz-background-size: cover;background-size: cover;position: relative;
}
#myButton > a{
	color: white;border: 1px solid grey;margin: 4px;border-radius: 5px;
}
#myPerson{
	margin:10px auto;width: 60px;height: 60px;background: url(../img/person.png) no-repeat ; -webkit-background-size: 100%;-moz-background-size: 100%;background-size: 100%;
}
#myPersonName  {
	font-size: 15px;
}
#myRank{
	width: 13px;height: 13px;background: url(../img/rank.png) no-repeat ; -webkit-background-size: 100%;-moz-background-size: 100%;background-size: 100%;display: inline-block;
}
#myStar{
	margin:10px auto;height: 20px;width:100px;
}
#myNum {
	position: absolute;bottom: 0px;
}
#myNum > div{
	background-color:black;margin: 0 0 0 2px;
}
#myList{
	margin-top: 5px;
}
#myList > a{
	padding-top:10px;padding-bottom: 10px; 
}



#goodsDiv{
	border: 1px solid #ddd;border-radius: 5px;margin: 2px;
}
#goodsDiv > img{
	width:100%;border-radius: 5px 5px 0 0;max-height: 100px;
}
#selectedDiv{
	width:100%;height: 100px;position: absolute;top: 3px;color: white;padding: 0 3px;
}
#selectedDiv > div
{
	background-color:rgba(68, 68, 68,0.5);height: 100%;border-radius: 5px 5px 0 0;
}


.loginBg{

background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 45%, rgba(73,155,234,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(45%, rgba(32,124,229,1)), color-stop(100%, rgba(73,155,234,1)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 45%, rgba(73,155,234,1) 100%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 45%, rgba(73,155,234,1) 100%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 45%, rgba(73,155,234,1) 100%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 45%, rgba(73,155,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#499bea', GradientType=1 );

}

.app-logo{ max-width:128px; margin:auto; background-repeat:no-repeat;background-position:center;}
.top-content { padding-top: 10vh;  text-align: center;   }
.loginButton{ padding-bottom:0px;}
.remvoeBP{ padding-bottom:0px;}

#menuLinks .list .item{ border-color:#479CF7;}
#menuLinks .list .item a{ background:#387EF5; color:#fff;}